header{
  overflow-x: scroll;

}
/* Current values header */
.realtimeInfo{
  @media (min-width: 980px){
    justify-content: space-evenly;
  }
  display: flex;

  > div{
    background-color: #2c325c;
    margin: 1vw;
    padding: 1.5vw;
    border: 1px solid #fff8;
    border-radius: 8px;

    h3{
      margin-top: 10px;
    }
  }
}
.itemInfo{
  display: flex;
  align-items: center;
}
.itemInfo > div {
  padding: 0 1vw;
}
#goldPrice, #btcPrice, #spPrice, #nzxPrice, #sharesPrice{
  font-weight: bold;
  font-size: 30px;
}
.itemChanges > div {
  font-size: 12px;
}
.red{
  color: red;
}
.green{
  color: green;
}
