.App {
  text-align: center;
}

/* Current values header */
.realtimeInfo{
  display: flex;
  justify-content: space-evenly;
}
.itemInfo{
  display: flex;
  align-items: center;
}
.itemInfo > div {
  padding: 0 1vw;
}
#goldPrice, #btcPrice, #spPrice, #nzxPrice, #sharesPrice{
  font-weight: bold;
  font-size: 30px;
}
.itemChanges > div {
  font-size: 12px;
}
.red{
  color: red;
}
.green{
  color: green;
}
